.login-container {
    border: 1px solid#266753;
    /* height: auto; */
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 3px;
    margin-top: 50px;
    background-color: #195e49;
    margin-bottom: 50px;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .login-container h1 {
    width: 70%;
    margin: auto;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    margin-bottom: 20px;
    /* border: 2px solid green; */
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-style: normal;
   font-size: large;
    font-weight: 700;
    /* background-color: 
    #f05a1f; */
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;

  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
  }
  
  .login-container label {
    margin-bottom: 10px;
    /* border: 2px solid black; */
    color: white;
   margin-right: 15px;
  }
  
  .login-container input {
    height: 35px;
    padding: 10px;
    /* margin-bottom: 15px; */
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    /* border-bottom: 1px solid #266753; */
    /* border: 2px solid red; */
    outline: none;
    cursor: pointer;
  }
  
  .login-container button {
    height: 40px;
    width: 70%;
    margin: auto;
    margin-top: 12px;
    /* margin-right: 2px; */
    padding: 10px 15px;
    background-color:#f9a505;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid  #266753;
    cursor: pointer;
    font-family: "Inter", sans-serif !important;
    /* font-weight: 500; */
  }
  
  .login-container button:hover {
    background-color: #8cb9df;
    color: white;
    border: 1px solid black;
  }
  
  .login-container span {
    color: red;
    /* margin-bottom: 30pxpx; */
    margin: auto;
    /* margin-right: 20px; */
    
    font-size: small;
   /* margin-left: 47px; */
    
    /* border: 2px solid black; */
  }
  .login-container  >cut-button {
    border: 2px solid black;
    position: absolute;
    height: 30px;
    width: 40px;
    top: 10px;
    right: 10px;
    font-size: 20px; 
    cursor: pointer;
    
  }
  
  #a1,#a2{
    color:#000000;
    background-color: #fcfcfc;
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 14px;
    background-color: skyblue;
  }