.App {
  text-align: center;
}
#navbar>a{
text-decoration: none;
margin: 2rem;

}
#notFound > img{
  width: 100vh;
  margin-top: 10vh;
}
/* PRODUCT CSS START */
#product{
  background-color:  rgb(143, 158, 158);
}

#product img{
  width: 100vh;
}
 #product-item h1{
  font-weight: bolder;
  color: green

}
#product-item > h1+b{
  color: rgb(218, 38, 38);
  font-size: bolder;
}
#product-item{
  background-color: rgb(255, 255, 255);
 transition : all 0.5s ease-in-out;
 box-shadow: rgba(255, 70, 70, 0.717) 0px 5px 15px;
}
#product-item:hover{
  transform: scale(1.08);
}

#product-item > button{
  background-color: rgb(149, 239, 46);
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
  width: 70%;
  font-weight: bold;
}
#product-item > button:hover{

  background-color: rgb(243, 63, 47);
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
 font-weight: bolder;

}

.pagination button{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin:20px ;
}

#sorting{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 margin-top: 20px;
}

#sorting select{
  background-color:rgb(149, 239, 46) ;
  padding: 5px;
  border-radius: 10px;
  
}
#sorting b{
  color: rgb(255, 255, 255);
}
#sorting button{
  margin:10px 20px 0px 20px;
  font-weight: bold;
  font-size: 10px;
  background-color: rgb(149, 239, 46);
  padding: 10px;
  border-radius: 10px;
}

#sorting button:hover{
  background-color: rgb(243, 63, 47);
}
/* PRODUCT CSS END */
